<div class="full-page pb-5 bg-black">


  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark pt-xl-5 pt-lg-3  pt-md-3 pt-sm-3 pt-3"
    [containerInside]="false" class="nav_details">
    <mdb-navbar-brand>
      <!-- <a href="#" class="navbar-brand">Navbar</a> -->
    </mdb-navbar-brand>
    <links class="linksdata">
      <ul class="navbar-nav ml-auto items">
        <li class="nav-item">
          <a href="#S-2" class="nav-link font-20 font-weight-600 font-style-normal yellow-color mx-4 ">About
            Us</a>
        </li>
        <li class="nav-item">
          <a href="#S-4" class="nav-link  font-20 font-weight-600 font-style-normal mx-4">Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="#S-3" class="nav-link font-20 font-weight-600 font-style-normal mx-4">Experience</a>
        </li>
        <li class="nav-item">
          <a href="#S-5" class="nav-link  font-20 font-weight-600 font-style-normal mx-4">Contact</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>

  <div class="container">
    <img src="../../assets/revent-logo.png" alt="" width="225.54px">
  </div>

  <div class="container">


    <div id="S-1" class="section-1 height-1034">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <p class="white-color font-35 font-weight-bold font-style-normal mt-5 pt-5">Innovative Solution<br> Taliored
            to
            your<br>
            Business
            need</p>
          <p class="white-color font-18 font-weight-400 font-style-normal ">We can partner with your business to
            provide a symbiotic relationship and synergy to
            help you or
            your
            business<br> achieve more business growth through strategic financial<br> advisory, investment business and
            human
            resource<br> planning and management.​</p>
          <div class="mt-5">
            <button class="btn_click bg-yellow poppins font-20 font-weight-bold font-style-normal ">Get In
              touch</button>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item pl-0">
                <img src="../../assets/be.svg" alt="">
              </li>
              <li class="list-group-item pl-0">
                <img src="../../assets/dribble.svg" alt="">
              </li>
              <li class="list-group-item pl-0"> <img src="../../assets/facebook.svg" alt=""></li>

            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <img src="../../assets/Vector.png" alt="" class="img_1">
          <img src="../../assets/Rectangle 92.png" alt="" class="img_2">
        </div>
      </div>
    </div>
    <div id="S-2" class="section-2 mt-5">
      <div class="d-flex justify-content-center mb-5">
        <div class="">
          <p class="mb-0 white-color font-30 font-weight-bold font-style-normal">About Us</p>
          <img class="ml-2" src="../../assets/Rectangle 61.svg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <img src="../../assets/Rectangle 16.png" alt="" style="width: 100%;">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="pl-4 mt-5">
            <p class="white-color  font-20 font-weight-600 font-style-normal">We focus on value and excellence</p>
            <p class="white-color  font-18 font-weight-400 font-style-normal">We are focused on providing products which
              deliver demonstrably good value for our
              clients and<br>
              end-customers – be that a specific return,<br> outperforming an index or achieving returns at lower risk.​
              ​</p>
            <p class="white-color font-18 font-weight-400 font-style-normal mt-5">Through achieving value for the
              clients
              whose
              assets we manage, efficiently controlling
              costs,
              effectiveness
              and efficiency, we deliver value to our shareholders and<br> wider stakeholders </p>
            <button class="btn_click bg-yellow mt-4 poppins font-20 font-weight-bold font-style-normal">Work with
              Us</button>
          </div>
        </div>
      </div>
    </div>
    <div id="S-3" class="section-3 mt-5">
      <div class="d-flex justify-content-center mb-5">
        <div class="">
          <p class="mb-0 white-color font-30 font-weight-bold font-style-normal">Resume</p>
          <img class="ml-2" src="../../assets/Rectangle 61.svg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="row ml-0">
            <div class="col-1 plr">
              <img src="../../assets/Line 6.svg" alt="">
            </div>
            <div class="col-11 plr">
              <div class="white-color">
                <p class="font-30 font-weight-bold font-style-normal">2017</p>
                <p class="font-22 font-weight-600 font-style-normal mb-0">Louisanna State University</p>
                <p class="font-20 font-weight-500 font-style-normal">Lorem Ipseum</p>
              </div>
              <div class="white-color">
                <p class="font-30 font-weight-bold font-style-normal mt-lg-5 mt-md-5 mt-sm-3 mt-3">2018</p>
                <p class="font-22 font-weight-600 font-style-normal mb-0">Havard EdX</p>
                <p class="font-20 font-weight-500 font-style-normal">Principles of Design</p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="row margin-left">
            <div class="col-1 plr">
              <img src="../../assets/Line 6.svg" alt="">
            </div>
            <div class="col-11 plr">
              <div class="white-color">
                <p class="font-30 font-weight-bold font-style-normal ">2019</p>
                <p class="font-22 font-weight-600 font-style-normal mb-0">Udacity</p>
                <p class="font-20 font-weight-500 font-style-normal">Product Design</p>
              </div>
              <div class="white-color">
                <p class="font-30 font-weight-bold font-style-normal mt-5">2020</p>
                <p class="font-22 font-weight-600 font-style-normal mb-0">Microsoft Partner</p>
                <p class="font-20 font-weight-500 font-style-normal">Platinum</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="S-4" class="section-4 mt-5">
      <div class="d-flex justify-content-center mb-5">
        <div class="">
          <p class="mb-0 white-color font-30 font-weight-bold font-style-normal">Portfolio</p>
          <img class="ml-2" src="../../assets/Rectangle 61.svg" alt="">
        </div>
      </div>
      <div class="d-flex justify-content-center mb-4">
        <ul class="list-group list-group-horizontal-lg">
          <li class="list-group-item font-20 font-weight-500 font-style-normal" *ngFor="let state of states"
            (click)="setStateAsActive(state)"><a [class.active]="state === activeState">
              {{ state }}
            </a></li>

        </ul>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 px-0 ">
          <img src="../../assets/Rectangle 26.png" alt="" style="width: 100%;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 px-0">
          <img src="../../assets/Rectangle 26.png" alt="" style="width: 100%;">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 px-0">
          <img src="../../assets/Rectangle 26.png" alt="" style="width: 100%;">
        </div>
      </div>
    </div>
    <div id="S-5" class="section-5 mt-5">
      <div class="d-flex justify-content-center mb-5">
        <div class="">
          <p class="mb-0 white-color font-30 font-weight-bold font-style-normal">Get in Touch</p>
          <img class="ml-4" src="../../assets/Rectangle 61.svg" alt="">
        </div>
      </div>
      <!-- <div class="d-flex justify-content-center white-color"> -->
      <div class="row white-color">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="t1">
            <img src="../../assets/call 1.svg" alt="">
            <p class="font-24 font-weight-bold font-style-normal">Call Us</p>
            <p class="font-18 font-weight-400 font-style-normal">+234-806 749-700</p>
          </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <div class="t1">
            <img src="../../assets/send 1.svg" alt="">
            <p class="font-24 font-weight-bold font-style-normal">Send Email</p>
            <p class="font-18 font-weight-400 font-style-normal">revent@digital.com</p>
          </div>

        </div>
      </div>
      <!-- </div> -->

      <div class="">
        <form class="form" [formGroup]="contactForm" (ngSubmit)="submit()">

          <div class="grid_detail row mb-lg-4 mb-md-4 mb-sm-4 mb-3">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-lg-0 mb-md-0 mb-sm-4 mb-3 ">
              <div class="fname">
                <input class="input px-3 w-100" type="text" formControlName="firstName" required />
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 ">
              <div class="lname">
                <input class="input px-3 w-100" type="text" formControlName="lastName" required />
              </div>
            </div>
          </div>
          <div class="mb-lg-4 mb-md-4 mb-sm-4 mb-3">

            <input class="input px-3 w-100" type="email" formControlName="email" required />
          </div>
          <div class="mb-lg-4 mb-md-4 mb-sm-4 mb-3">

            <textarea class="text_area w-100" name="" id="" formControlName="message" required></textarea>
          </div>

          <button class="btn_click bg-yellow poppins font-20 font-weight-bold font-style-normal mb-5">
            Send message
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
